@media screen and (max-width: 856px) {
    .gigi-links {flex-direction: column}
    
    .gigi-links p {
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
        margin: 4px;
    }
    
    .gigi2 img {height: 200px}
}

@media screen and (max-width: 700px) {
    .last-credit-block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .lcb-child p {text-align: center}
    .lcb-child h3 {
        text-align: center;
        margin: 10px
    }
    .lcb-child {text-align: center;}
}

@media screen and (max-width: 483px) {
    .lcb-child li {
        margin-bottom: 20px;
    }

    .gigi-links p {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        margin: 4px;
    }
}

@media screen and (max-width: 1150px) {
    /* Mobile from here */
}

@media screen and (max-width: 520px) {
    button {
    }
}