/* Fonts
Credits header: https://fonts.googleapis.com/css2?family=Nerko+One&display=swap
*/

* {
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {display: none}
html {overflow-x: none; scroll-padding-top: 999px;}

/* Text reuse */
h2 {
    margin: 10px;
    font-size: 55px;
}

h3 {font-size: 30px;}

li {
    margin: 3px;
    font-size: 18px;
}

p, a, li {color: #452819; }

h2, h3 {
    color: white;
    font-family: "Nerko One", cursive;
    letter-spacing: 2px;
}

.to-left {text-align: start;}
.to-right {text-align: end;}

#messages {display: none;}
#meet-the-greems {}
#fan-art {display: none;}
#certificate {}
#misc-fan-content {}

/* Banner */
.ggbanner {
    max-height: 213px;
    width: 100%;

    background-color: white;
    background-image: url(material/credits-bg-op.png);

    position: relative;
    overflow: hidden;

    justify-content: center;
}

.ggbanner img {
    display: block;
    position: inherit;

    margin: 7px auto;
    
    max-width: 100%;
    max-height: 200px;
    height: auto;

    z-index: 2;
}

/* Content */
.content {
    display: flex;

    width: 100vw;
    height: 740px;

    overflow: hidden;

    background-image: url(material/shoebox.jpg);
    background-size: cover;
    background-position: center;
}

.buttons-section {
    display: flex;
    flex-direction: column;

    width: auto;
    height: inherit;

    justify-content: center;
    align-items: center;
}

.button-space {
    display: flex;

    height: 120px;
    width: 520px;

    justify-content: center;
    align-items: center;
}

/* Content section */
.content-section {
    width: 100vw;
    height: 740px;

    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.playpen-sans-uniquifier {
    display: none;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: black;
    font-size: 40px;
}

.outline {
    -webkit-text-stroke: 30px white;
    paint-order: stroke fill;   
}

#instructions {
    opacity: 1;
    transition: opacity 2s ease-out;
}

/* Messages */
.section {
    background-color: white;
    border: 2px solid orange;
    border-radius: 15px;

    height: 700px;
    width: 100%;

    margin: 0 10px 0 10px;

    display: flex;
    flex-direction: column;

    align-items: center;

    text-align: center;

    overflow: scroll;
}

.section h2 {
    color: black;
}

.messages {
    display: flex;
    flex-wrap: wrap;

    background-color: white;
    height: auto;
    max-width: 1300px;

    justify-content: center;
    align-items: center;
}

.card {
    display: flex;

    width: 430px;

    justify-content: center;
    align-items: center;
}

.card-inside {
    border: 2px solid orange;
    border-radius: 15px;

    margin: 10px;
    padding: 10px;

    height: max-content;
    width: 380px;

    transition: 0.3s ease-in-out;
}

.card-name {
    color: black;
    margin: 3px 0px 3px 0px;
}

.card-inside:hover {
    background-color: orange;
    scale: 1.1;
}

.card-text {
    transition: 0.3s ease-in-out;
}

.card-inside:hover .card-text {
    color: white;
}

.card-name, .section h2, .button-text {font-family: "Averia Sans Libre", sans-serif;}

/* Slider */
.slider-container {
    padding: 10px;

    width: inherit;
    height: 600px;
    overflow: hidden;
}

.slider-wrapper {
    position: relative;
    
    max-width: 90rem;
    max-height: 585px;

    overflow: hidden;

    margin: 0 auto;
}

.slider {
    display: flex;

    overflow-x: auto;

    scroll-behavior: smooth;

    box-shadow: 0 1.5rem 3rem -0.75rem hsl(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    max-height: 600px;

    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: gray;
    opacity: 0.75;
    transition: ease 250ms;
}

.slider-nav a:hover {
    opacity: 100%;
    background-color: black;
}

.external {display: flex;}

/* Buttons */
.buttons {
    max-width: 520px;
    height: fit-content;

    margin: 0px auto;

    position: relative;

    overflow: hidden;

    border-radius: 10px;

    transition: 0.5s ease-in-out;
}

button {
    display: flex;
    position: relative;

    
    height: 100px;

    background-color: rgb(255, 165, 0);
    border: none;

    overflow: hidden;

    color: white;

    transition: 0.2s ease-in-out;

    cursor: pointer;
}

.button-img {
    position: absolute;
    object-fit: cover;
    z-index: 2;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
    max-width: 100%;
}

.button-text {
    font-size: 40px;
    margin: auto;
    letter-spacing: 2px;
    position: relative;
    z-index: 3;
    color: white;
    width: 500px;
    transition: 0.2s ease-in-out;    
}

.button-class:hover .button-text {
    transition: 0.2s ease-in-out;
    
    font-size: 40px;
    letter-spacing: 7px;
}

.button-class {
    z-index: 1;
    position: inherit;
}

.button-class:hover,
button:hover {
    transition: 0.2s ease-in-out;
}

button:hover img {
    transition: 0.2s ease-in-out;
    opacity: 0;
}

.buttons:hover {
    transition: 0.2s ease-in-out;
}

#message-button img {top: -90px;}  
#mtg-button img {top: -90px;}
#fanart-button img {top: -90px;}
#certificate-button img {top: -60px;}
#mfc-button img {top: -110px;}

/* Credits */
footer {
    height: fit-content;
    width: 100vw;
    background-color: orange;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;

    background-image: url(material/credits-bg-op.png);
}

.credits-block {
    text-align: center;
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.gigi2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gigi-links {
    text-align: left;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px 5px;
}

.gigi-links p {
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 2px;
}

.last-credit-block {
    height: fit-content;
    display: flex;
    margin: 10px;
}

.lcb-child {
    height: fit-content;
    width: 50%;
    background-color: transparent;
    padding: 3px;
}

.lcb-child p {
    text-align: end;
    font-size: 18px;
}

.lcb-child li {margin: 10px;}

.lcb-child h3 {margin: 10px 0px 10px 0px;}